.Info {
    text-align: center;
  }
  
  .Info-logo {
    animation: Info-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .Info-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .Info-title {
    font-size: 1.5em;
  }
  
  .Info-intro {
    font-size: large;
    min-height: 200px;
  }
  
  @keyframes Info-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }