<div class='bar'>
    <div class='bar__content container clear-fix row'>
        <div class='bar__content--left col row'>
            <div class='language'>
                <div class='menu__dropdown'>
                    <a data-toggle='dropdown' href='#'>{{ languages[1] }}</a>
                    <span class='dropdown-toggle'></span>
                    <ul class='menu__dropdown--list'>
                        <li *ngFor="let language of languages">{{ language }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='bar__content--right row'>
            <div class='options ml-auto row'>
                <div class='options__container col' *ngFor="let option of options">
                    <a href='#'>{{ option }}</a>
                </div>
            </div>
            <div class='currency ml-auto'>
                <select class='currency__select'>
                    <option *ngFor="let currency of currencies">{{ currency }}</option>
                </select>
                <span class='currency__span--toggle'></span>
            </div>
            <div class='help ml-auto'>
                <button class='help__button'>Customer Center</button>
            </div>
        </div>
    </div>
</div>