<div class='bar'>
    <div class='bar__content container clear-fix'>
      <nav class='menu navbar-toggleable-md'>

        <button class='navbar-toggler navbar-toggler-right collapsed' type='button'
          data-toggle='collapse' data-target='#navbarNav'
          aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation'>
          <span class='navbar-toggler-icon'></span>
        </button>

        <div class='navbar-collapse collapse' id='navbarNav' >
          <ul class='navbar-nav'>
            <li class='menu__content--item nav-item' routerLinkActive='active'>
              <a routerLink='/main' class='menu__content--link nav-link'> Main </a>
            </li>
            <li class='menu__content--item nav-item' routerLinkActive='active'>
              <a routerLink='/about' class='menu__content--link nav-link'> About </a>
            </li>
          </ul>
        </div>

      </nav>
    </div>
  </div>