<div class='product'>
  <article class='product__content'>
    <img class='product__content--img' src="{{item.imageUrl}}" alt=''>
    <span class='product__content--tag'>{{ item.subtitle }}</span>
    <a href='#' class='product__content--title'>{{ item.title }}</a>
    <p class='product__content--review'>
      <span class='margin-left-10'>5 Review(s)</span>
    </p>
    <div class='product__content--price'>{{item.price}}</div>
    <a href='#' class='product__content--cart'></a>
  </article>
</div>